@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    list-style:none;
    font-family: 'Inter', sans-serif;
}
header{
    width:100%;
    height:6.5em;
    background-color:#800080;
    display:flex;
    justify-content:space-between; 
    align-items:center;   
}
.logo{
    width:10em;
    margin-left:1.2em;
}
nav{
    width:18em;
}
ul{
    width:100%;
    display:flex;
    justify-content:space-evenly;
    font-size:1.2rem;
    color:white;
}
li:hover{
    color:orange;
    cursor:pointer;
}
main{
    width:100%;
}
.section-cards{
    width:80%;
    display:flex;
    flex-wrap:wrap;
    margin:0 auto;
}
.card{
    width:35%;
    margin:5em;
    overflow: hidden;
}
.card img{
    width:100%;
    border-radius:18px;
    transition: 1s all;
}
.card img:hover{
    transform: scale(1.2);
}
footer{
    background-color:#800080;
    width:100%;
    height:6.8em;
    display:flex;
    align-items:center;
}
footer img{
    width:3em;
}
div{
    width:25%;
    display:flex;
    justify-content:space-evenly;
}
@media (max-width:460px){
    header{
        justify-content:center;
    }
    nav{
        display:none;
    }
    .card{
        width:60%;
    }
    div{
        margin:0 auto;
        width:40%;
    }
}